.articles-feed {
    max-width: 72rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.articles-feed > article {
    max-width: 300px;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--background);
    box-shadow: 1px 1px 7px -2px black;
}

@media screen and (min-width: 768px) {
    .articles-feed > article {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 768px) {
    .articles-feed > article {
        flex-basis: 25%;
    }
}