form{
    text-align: center;
}
input{
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
#prisaha, #poruseni-pravdy{width: auto !important;}
textarea{
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
label{
    font-size: 0.7em;
}
mark{
    color: var(--highlight-color);
    background: none;
}
#button{
    width: 50%;
    height: 40px;
    margin: auto;
}
#Prisaha, #Poruseni-Pravdy{width: 100% !important;}

@media screen and (min-width: 987px) {
textarea{
    width: 600px !important;
}
input{
    width: 600px;
}
#button{
    width: 25%;
}
}