header {
    position: relative;
    min-height: 12rem; /* fix pro S telefony */
    height: calc(50vh - 5rem);
}

.header--homepage {
    height: calc(100vh - 5rem);
}

.header--homepage > img,
header > img {
    z-index: -1;
    position: fixed;
    top: 5rem;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

header > img {
    min-height: 12rem; /* fix pro S telefony */
    height: calc(50vh - 5rem);
}

.header__container,
.header--homepage__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    text-align: center;
    color: var(--color);
}

.header--homepage__container {
    width: 30rem;
    max-width: 90%;
    background: var(--background);
}

.header__container > h1 {
    padding: 1rem;
    background-color: var(--background);
}

.header--homepage__scroll {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    animation: header--homepage__scroll 2000ms infinite;
}

@media screen and (min-height: 600px) {
    .header--homepage__scroll {
        display: block;
    }
}

@keyframes header--homepage__scroll {
    0% {
        transform: translate(-50%, 0px);
    }
    
    30% {
        transform: translate(-50%, 0.5rem);
    }
    100% {
        transform: translate(-50%, 0px);
    }
}

