@import url(normalize.css);
@import url(nav.css);
@import url(header.css);
@import url(button.css);
@import url(search.css);

/* Nastavení fontů */

@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf) format("truetype");
}

/* Základní nastavení napříč dokumentem */

:root {
    font-family: "Poppins";
    letter-spacing: 1.2;
    line-height: 1.2;
    font-size: 20px;

    --background: #fff;
    --color: #000;
    --highlight-color: #f00;
}

/* Nastavení textu */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a {
    color: var(--color);
}

span {
    color: var(--highlight-color);
}

/* ----------------- */

img {
    max-width: 100%;
}

main {
    width: 100%;
    height: 2000; /* Prozatimní, aby bylo vidět, jak to bude vypadat */
    background-color: var(--background);
}

