@import url(normalize.css);
@import url(nav.css);
@import url(header.css);
@import url(button.css);
@import url(search.css);
@import url(cinnosti.css);
@import url(footer.css);

/* Nastavení fontů */

@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf) format("truetype");
}

/* Základní nastavení napříč dokumentem */

:root {
    font-family: "Poppins";
    letter-spacing: 1.2;
    line-height: 1.2;
    font-size: 20px;

    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    --background: #fff;
    --color: #000;
    --highlight-color: #f00;
}

/* Nastavení textu */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a {
    color: var(--color);
}

span {
    color: var(--highlight-color);
}

/* ----------------- */

img {
    max-width: 100%;
}

main {
    width: 100%;
    padding: 2rem 0;
    background-image: url("../images/studentproject_background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-color: var(--background);
}

