.main-nav {
    z-index: 1;
    position: sticky;
    top: 0;
    box-sizing: border-box; /* Pro šířku na 100% viewportu*/
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
    background-color: var(--background);
}

.main-nav__hamburger {
    display: none;
    cursor: pointer;
    margin: 0.5rem;
}

.main-nav .hamburger__line {
    position: relative;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color);
    margin: 0.5rem;
    transition: 300ms;
}

.main-nav__hamburger.active #hamburger-line-1 {
    transform: rotate(45deg);
    top: 1rem;
}

.main-nav__hamburger.active #hamburger-line-2 {
    opacity: 0;
}

.main-nav__hamburger.active #hamburger-line-3 {
    transform: rotate(135deg);
    bottom: 0.4rem;
}

.main-nav__hamburger > p {
    margin: 0;
}

.main-nav__items {
    display: flex;
    justify-content: center;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    background-color: var(--background);
}

.main-nav__items > a {
    display: block;
    position: relative;
    overflow-y: hidden;
    margin: 1rem;
    text-decoration: none;
}

.main-nav__items > a::after {
    content: "";
    display: block;
    height: 0.1rem;
    background-color: var(--highlight-color);
    transform: translateX(-100%);
    transition: 300ms;
}

.main-nav__items > a:hover,
.main-nav__items > a:focus,
.main-nav__items > a.active {
    font-weight: bold;
}

.main-nav__items > a:hover::after,
.main-nav__items > a:focus::after,
.main-nav__items > a.active::after {
    transform: translateX(0);
}

.main-nav__items.active {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 987px) {
    .main-nav__hamburger {
        display: block;
    }

    .main-nav__items {
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
    }
}

@media screen and (min-width: 987px) {
    .main-nav__items {
        height: 4rem;
        align-items: center;
    }
}